* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PrimaryText', sans-serif;
    color: #ffffff
}

body {
    background-image: url('../Images/web_bg.png');
    ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: auto;
}

@font-face {
    font-family: 'PrimaryText';
    src: url('../Fonts/Avenir_Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.no-scroll {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

/* 1) HEADER :-  */

header {
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .nav-logo img {
    width: 220px
}



header .nav-links {
    transition: 0.4s all ease-in-out;
}

header .nav-links ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header .nav-links ul li {
    padding: 3px 16px;
    text-align: center;
    /* background-color: aqua; */
}

header .nav-links ul li:not(:first-child) {
    border-left: 1px solid black;
    /* border-radius: 50%; */
}

header .nav-links ul li a {
    text-decoration: none;
    font-size: 22px;
    color: #FFFFFF;
    transition: 0.3s all ease-in-out;
    font-weight: 700;
}

header .nav-links ul li a.active {
    color: #F37623;
}

header .nav-links ul li a:hover {
    color: #F37623;
}

header .menu-bar {
    display: none;
    z-index: 2;
}

header .menu-bar .hamburger {
    height: 50px;
    width: 50px;
    font-size: 33px;
    border: none;
    color: #FFFFFF;
    background: transparent
}




/* 2. MAIN (Home Page) :- */

main {
    margin: 10px 0 40px 0;
}

main .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main .profile .profile-info {
    width: 35%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 20px
}

main .profile .profile-img {
    width: 35%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .profile .profile-img img {
    height: auto;
    width: 90%;
    overflow: hidden;
}

main .profile .profile-info h1 {
    font-size: 75px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

main .profile .profile-info h3 {
    font-size: 42px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

main .profile .profile-info .about-me {
    width: 80%;
}

main .profile .profile-info p {
    font-size: 24px;
    margin-top: 10px;
    font-family: 'PrimaryText', sans-serif;
}

main .profile .nav-btns {
    display: flex;
    gap: 10px;
}

main .profile .nav-btns button {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    font-size: 19px;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    text-transform: uppercase;
    background-color: #F37623;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
}




/* 3. FOOTER :- */

footer {
    margin: 20px 0;
    padding: 10px 20px;
    position: static;
    bottom: 0;
}

.web-footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    flex-wrap: wrap;
    padding: 30px 15px;
    border-top: 1px solid #FFFFFF;
}

.web-footer .copyright,
.web-footer .email,
.web-footer .followme {
    width: 30%;
    margin: 15px;
}

.web-footer h3 {
    font-size: 27px;
    margin: 12px 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.web-footer p {
    font-size: 24px;
    margin: 12px 0;
}

.web-footer .social {
    display: flex;
    gap: 20px;
}

.web-footer a {
    text-decoration: none;
}

.web-footer i {
    font-size: 27px;
}

.web-footer .copyright p {
    font-size: 16px;
    text-align: center;
}

.break-point::after {
    content: "\A";
    white-space: pre;
}




/* 4. MAIN (About Page) */


main .about {
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

main .about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.about .about-text,
.about .about-slider {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about h1 {
    width: 90%;
    font-size: 33px;
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    margin: 15px 30px;
}

.about .about-text p {
    font-size: 20px;
}

.carousel-container {
    width: 90%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
}

.carousel-item {
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}

.carousel-item img {
    height: 100%;
    width: 100%;
}

.carousel-item.active {
    display: block;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
    height: 40px;
    width: 40px;
    background-color: transparent;
    border: none;
    outline: none;
}

.carousel-prev i,
.carousel-next i {
    font-size: 35px;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}











/* 5. MAIN (Contact Page) */

main .contact-me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0;
}

main .contact-me .contact-details {
    width: 30%;
    height: 650px;
}

main .contact-me .contact-form {
    width: 60%;
    height: 650px;
    /* background-color: aqua; */
}

main .contact-me .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 70px;
}

main .contact-me h2 {
    font-size: 36px;
    margin: 10px 0;
    font-weight: bold;
}

main .contact-me h3 {
    font-size: 33px;
    margin: 10px 0;
}

main .contact-me .heading p {
    font-size: 18px;
}

main .contact-me .contact-email p {
    font-size: 21px;
}

main .contact-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

main .contact-form form div {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

main .contact-form form div label {
    font-size: 21px;
}

main .contact-form form div input {
    height: 45px;
    width: 100%;
    border: 1px solid black;
    padding: 10px;
    color: #000;
    font-size: 18px;
}

main .contact-form form div textarea {
    min-height: 120px;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    color: #000;
    font-size: 18px;
}

main .contact-form form button {
    height: 80px;
    width: 90%;
    background-color: #F37623;
    margin-top: 25px;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 40px;
}




/* MEDIAQUERIES :-  */


@media (max-width: 1144px) {

    main .profile .profile-img,
    main .profile .profile-info {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    main .profile .profile-img img {
        height: 400px;
        width: 400px;
        border-radius: 50%;
        overflow: hidden;
    }

    main .profile .profile-info h1 {
        font-size: 69px;
    }

    main .profile .profile-info h3 {
        font-size: 36px;
    }

    main .profile .profile-info .about-me {
        width: 85%;
    }

    main .profile .profile-info p {
        font-size: 22px;
        margin-top: 10px;
    }

    main .profile .nav-btns {
        display: flex;
        gap: 10px;
    }

    main .profile .nav-btns button {
        height: 120px;
        width: 120px;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
        background-color: #F37623;
        border: none;
        color: #FFFFFF;
        font-weight: 600;
    }

    .break-point-01::after {
        content: "\A";
        white-space: pre;
    }

    main .contact-me .contact-details {
        width: 40%;
        height: 650px;
        padding: 10px 20px;
    }

    main .contact-me .contact-form {
        width: 60%;
        height: 650px;
        padding: 10px 20px;
        /* background-color: aqua; */
    }

    main .contact-me h2 {
        font-size: 30px;
        margin: 10px 0;
        font-weight: bold;
    }

    main .contact-me h3 {
        font-size: 27px;
        margin: 10px 0;
    }

    main .contact-me .heading p {
        font-size: 16px;
    }

    main .contact-me .contact-email p {
        font-size: 20px;
    }

    main .contact-form form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    main .contact-form form div {
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        /* gap: 5px; */
    }

    main .contact-form form div label {
        font-size: 20px;
    }

    main .contact-form form div input {
        height: 45px;
        width: 100%;
        border: 1px solid black;
        padding: 10px;
        color: #000;
        font-size: 18px;
    }

    main .contact-form form div textarea {
        min-height: 120px;
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        color: #000;
        font-size: 18px;
    }

    main .contact-form form button {
        height: 70px;
        width: 90%;
        background-color: #F37623;
        margin-top: 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 40px;
    }

    main .about {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }

    .break-header::after {
        content: "\a";
        white-space: pre;
    }

    main .about-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 15px 0;
    }

    .about .about-text,
    .about .about-slider {
        width: 50%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-left: 20px;
    }

    .about h1 {
        width: 100%;
        font-size: 30px;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        margin: 15px 30px;
        padding-left: 20px;
    }

    .about .about-text p {
        font-size: 16px;
    }

    .carousel-container {
        width: 95%;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .carousel-item {
        position: relative;
        display: none;
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        height: 100%;
        width: 100%;
    }

    .carousel-item.active {
        display: block;
    }

    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
    }

    .carousel-prev {
        left: 10px;
    }

    .carousel-next {
        right: 10px;
    }

}

@media (max-width: 978px) {
    header {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .nav-links ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header .nav-logo img {
        width: 190px;
    }

    header .nav-links ul li {
        padding: 3px 12px;
        text-align: center;
    }

    header .nav-links ul li a {
        text-decoration: none;
        font-size: 21px;
        color: #FFFFFF;
    }

    header .nav-links ul li a.active {
        color: #F37623;
    }

    main .profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 50px;
    }

    main .profile .profile-img,
    main .profile .profile-info {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    main .profile .profile-img img {
        height: auto;
        width: 70%;
        border-radius: 50%;
        overflow: hidden;
    }

    main .profile .profile-info h1 {
        font-size: 69px;
    }

    main .profile .profile-info h3 {
        font-size: 36px;
        text-align: center;
    }

    main .profile .profile-info .about-me {
        width: 70%;
    }

    main .profile .profile-info p {
        font-size: 22px;
        margin-top: 10px;
        text-align: center
    }

    main .profile .nav-btns {
        display: flex;
        gap: 10px;
    }

    main .profile .nav-btns button {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        font-size: 16px;
        background-color: #F37623;
        border: none;
        color: #FFFFFF;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
    }

    .web-footer .email,
    .web-footer .followme {
        width: 45%;
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .web-footer .copyright {
        width: 55%;
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .web-footer .copyright p {
        text-align: left;
    }

    main .contact-me {
        display: block;
        margin: 20px 0;
    }

    main .contact-me .contact-details {
        width: 100%;
        height: auto;
        margin: 20px 0;
    }

    main .contact-me .contact-form {
        width: 100%;
        height: auto;
        margin: 20px 0;
        /* background-color: aqua; */
    }

    main .contact-me .contact-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 70px;
    }

    main .contact-me h2 {
        font-size: 36px;
        margin: 10px 0;
        font-weight: bold;
    }

    main .contact-me h3 {
        font-size: 33px;
        margin: 10px 0;
    }

    main .contact-me .heading p {
        font-size: 18px;
    }

    main .contact-me .contact-email p {
        font-size: 21px;
    }

    main .about {
        margin: 15px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }

    main .about-content {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .about .about-text,
    .about .about-slider {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px 20px;
    }

    .about h1 {
        width: 100%;
        font-size: 27px;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
    }

    .about .about-text p {
        font-size: 16px;
    }

    .carousel-container {
        width: 90%;
        height: auto;
        overflow: hidden;
        position: relative;
    }

    .carousel-inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .carousel-item {
        position: relative;
        display: none;
        width: 100%;
        height: 100%;
    }

    .carousel-item img {
        height: 100%;
        width: 100%;
    }

    .carousel-item.active {
        display: block;
    }

    .carousel-prev,
    .carousel-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        cursor: pointer;
    }

    .carousel-prev {
        left: 10px;
    }

    .carousel-next {
        right: 10px;
    }
}

@media (max-width: 768px) {
    header {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .nav-links {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #F3F3F3;
        padding: 20px;
        z-index: 1;
        display: none;
        transition: all 0.3s ease-in-out;
        overflow-y: hidden;
    }

    header .nav-links ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow-y: hidden;
    }

    header .nav-links ul li {
        margin: 40px 0;
    }

    header .nav-links ul li:not(:first-child) {
        border: none;
    }

    header .nav-links ul li a {
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-size: 33px;
    }

    header .menu-bar {
        display: block;
    }

    header .nav-links.active {
        display: block;
    }

    main .profile .profile-info h1 {
        font-size: 57px;
    }

    main .profile .profile-info h3 {
        font-size: 30px;
        text-align: center
    }

    main .profile .profile-info .about-me {
        width: 90%;
    }

    main .profile .profile-info p {
        font-size: 21px;
        margin-top: 10px;
        text-align: center
    }

    main .profile .nav-btns {
        display: flex;
        gap: 10px;
    }

    main .profile .nav-btns button {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        font-size: 15px;
        background-color: #F37623;
        border: none;
        color: #FFFFFF;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
    }

    .break-point-01::after {
        content: "";
        white-space: none;
    }

    main .contact-form form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
    }

    main .contact-form form div {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 5px;
    }

    main .contact-form form div:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    main .contact-form form div label {
        font-size: 21px;
    }

    main .contact-form form div input {
        height: 50px;
        width: 100%;
        border: 1px solid black;
        padding: 10px;
        color: #000;
        font-size: 18px;
    }

    main .contact-form form div textarea {
        min-height: 120px;
        width: 100%;
        padding: 10px;
        border: 1px solid black;
        color: #000;
        font-size: 18px;
    }

    main .contact-form form button {
        height: 80px;
        width: 90%;
        background-color: #F37623;
        margin-top: 25px;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 40px;
    }

    main .contact-me h2 {
        font-size: 30px;
        margin: 10px 0;
        font-weight: bold;
    }

    main .contact-me h3 {
        font-size: 27px;
        margin: 10px 0;
    }

    main .contact-me .heading p {
        font-size: 16px;
    }

    main .contact-me .contact-email p {
        font-size: 20px;
    }

    .about h1 {
        width: 100%;
        font-size: 24px;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
        margin: 10px 30px;
    }

    .break-header-01::after {
        content: "\a";
        white-space: pre;
    }
}

@media (max-width: 600px) {
    .web-footer {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: start;
        flex-wrap: wrap;
        padding: 20px 10px;
        border-top: 1px solid #FFFFFF;
    }

    .web-footer .copyright,
    .web-footer .email,
    .web-footer .followme {
        width: 100%;
        margin: 15px;
        align-items: start;
    }

    .web-footer h3 {
        font-size: 24px;
        margin: 10px 0;
        font-family: "Work Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
    }

    .web-footer p {
        font-size: 21px;
        margin: 10px 0;
    }

    .web-footer .social {
        display: flex;
        gap: 15px;
    }

    .web-footer a {
        text-decoration: none;
    }

    .web-footer i {
        font-size: 24px;
    }

    .web-footer .copyright p {
        font-size: 14px;
        text-align: left;
    }

}

@media (max-width: 420px) {
    header {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .nav-logo img {
        width: 150px;
    }

    header .menu-bar .hamburger {
        font-size: 24px;
    }

    header .nav-links ul li {
        margin: 25px 0;
    }

    header .nav-links ul li a {
        color: black;
        text-decoration: none;
        transition: all 0.3s ease-in-out;
        font-size: 24px;
    }

    main .profile .nav-btns button {
        height: 90px;
        width: 90px;
        border-radius: 50%;
        font-size: 14px;
        background-color: #F37623;
        border: none;
        color: #FFFFFF;
        font-weight: 600;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
    }

    .break-point-01::after {
        content: "\A";
        white-space: pre;
    }

    .about h1 {
        width: 100%;
        font-size: 21px;
        font-family: 'Work Sans', sans-serif;
        text-transform: uppercase;
    }

    .about .about-text p {
        font-size: 15px;
    }
}